@{
    Layout = null;
}
<h1 style="text-align:center; margin-top:50px; color: red">User data which saved in DataBase</h1>
<div style="margin:100px;margin-left:350px">
    <table>

        <tr style="color: white; background-color:black">
            <th style="margin-left:10px; padding:10px 0 10px 0; width:10%">Name</th>
            <th style="margin-left:50px; padding:10px 0 10px 0; width:10%">Phone</th>
            <th style="margin-left:50px; padding:10px 0 10px 0; width:10%">Message</th>
        </tr>

        @foreach (var dt in ViewBag.data)
        {
            <tr style="color:black">
                <td style="margin-left:10px; padding-bottom:10px; background-color:bisque; text-align:center; height:auto">@dt.name</td>
                <td style="margin-left:50px; padding-bottom:10px; background-color:blanchedalmond; text-align:center; height:auto">@dt.phone</td>
                <td style="margin-left:50px; padding-bottom:10px; background-color:burlywood; text-align:center; height:auto">@dt.message</td>
            </tr>
        }

    </table>
</div>
